/* https://alligator.io/css/minimal-css-reset/ */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
input[type='text'],
input[type='email'],
button {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

/* Links */
a {
  color: inherit;
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

/* https://css-tricks.com/snippets/css/system-font-stack/ */
@font-face {
  /* define the 'system' font family */
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

html {
  font-size: 10px;
}

body {
  font-family: system, sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}
